//put your credentials and rename this file to credentials.js
module.exports.secret = "UzQxLikm_46KxDFnbjN7cQjmw6wocia"; //put your GoDaddy secret  here
module.exports.key = "46L26ydpkwMaKZV6uVdDWe"; //put your GoDaddy key  here